@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 스크롤바 숨기기 */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  background-color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* flex display 중앙 정렬 */
  .flex-center {
    @apply flex justify-center items-center;
  }
  /* 모달 텍스트 */
  .modal-text {
    @apply text-center text-xl font-semibold break-words whitespace-pre-wrap;
  }
  /* primary-1 버튼 */
  .primary-1-btn {
    @apply bg-primary-1 text-white-0 font-bold whitespace-nowrap rounded-lg hover:bg-primary-2;
  }

  /* 로그인/회원가입 */
  .form-title {
    @apply mb-12 text-[32px] font-semibold text-center;
  }
  .form-error-text {
    @apply absolute pl-4 mt-[6px] font-semibold text-sm text-red-500;
  }
  .form-input {
    @apply w-full p-4 border-2 rounded-lg border-primary-1 text-black-0 font-medium;
  }
  .form-btn {
    @apply form-input border-white-0 text-white-0 font-medium rounded-lg bg-primary-1;
  }
  .form-label {
    @apply block pb-[10px];
  }
  .form-red-dot {
    @apply bg-red-600 w-[5px] h-[5px] rounded-full;
  }

  /* 블로그 */
  .blog-favor-frame {
    @apply flex items-center gap-[5px] bg-black-2 px-3 py-[6px] rounded-3xl cursor-pointer hover:bg-opacity-90;
  }
}
