@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* 스크롤바 숨기기 */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* flex display 중앙 정렬 */
  .flex-center {
    @apply flex justify-center items-center;
  }
  /* 모달 텍스트 */
  .modal-text {
    @apply text-center text-lg font-semibold break-words whitespace-pre-wrap;
  }
  /* primary-1 버튼 */
  .primary-1-btn {
    @apply bg-primary-1 text-white-0 font-bold whitespace-nowrap rounded-lg;
  }

  /*hover 애니메이션*/
  .hover-animation {
    @apply hover:scale-105 transform transition-transform duration-200 ease-out;
  }
  /* 로그인/회원가입 */
  .form-screen {
    @apply flex flex-col pt-16 w-full min-w-[360px];
  }
  .form-container {
    @apply flex-center flex-col self-stretch;
  }
  .terms-container {
    @apply bg-white-0 p-4 border-2 border-primary-1 rounded-lg cursor-auto;
  }
  .terms-contents {
    @apply w-full max-h-52 font-medium overflow-scroll hide-scrollbar whitespace-pre-line;
  }
  .terms-check {
    @apply flex items-center gap-3 cursor-pointer;
  }
  .form-title {
    @apply mb-12 pre-3xl-semibold text-center;
  }
  .form-error-text {
    @apply absolute pl-4 mt-1.5 font-medium text-xs text-red-0;
  }
  .form-input {
    @apply w-full p-4 border-2 rounded-lg border-primary-1 text-black-0 font-medium focus:outline-none;
  }
  .form-btn {
    @apply border-none text-white-0 bg-primary-1 form-input;
  }
  .form-label {
    @apply block pb-2.5;
  }
  .form-red-dot {
    @apply bg-red-0 w-[5px] h-[5px] rounded-full;
  }

  /* 블로그 */
  .blog-favor-frame {
    @apply flex items-center gap-[5px] px-3 py-[5px] cursor-pointer;
  }

  /* 모의 면접 */
  .interview-container {
    @apply relative flex flex-col items-center w-full max-w-[800px] pl-0 md:pl-16 lg:pl-20 xl:pl-24 pt-8;
  }
  .corp-block {
    @apply py-1.5 px-1 sm:px-4 md:px-6 lg:px-8 text-black-0 rounded-lg w-1/3 hover:bg-primary-0 cursor-pointer my-2 whitespace-normal sm:whitespace-nowrap;
  }
  .chat-msg-text {
    @apply min-w-[20%] font-semibold border border-gray-0 
    border-opacity-20 p-4 sm:py-6 sm:px-6 md:px-8 text-sm text-start rounded-[30px];
  }
  .chat-msg-btn {
    @apply flex items-center gap-4 bg-white-0 border border-gray-0 border-opacity-20 
    pl-6 pr-2 py-2 text-[10px] sm:text-xs md:text-sm rounded-[60px] whitespace-nowrap;
  }
  .tail-new-facial-icon {
    @apply rotate-180 border rounded-full;
  }
  .interview-history {
    @apply text-start rounded-lg pl-[13px] pr-2 py-[7px] flex items-center justify-between;
  }
  .interview-history-text {
    @apply overflow-hidden text-ellipsis whitespace-nowrap flex-grow;
  }

  /* 자소서 */
  .ps-label {
    @apply flex flex-col gap-1.5 w-full text-[13px] font-semibold;
  }
  .ps-input {
    @apply bg-[#fcfcfc] px-5 border border-gray-5 rounded-[10px] placeholder:text-[#DEDEDE] font-normal focus:outline-none;
  }
  /*드롭다운 스타일*/
  .dropdown {
    @apply flex-center flex-col p-2.5 bg-white-0 text-sm rounded-lg border border-gray-5;
  }
  .dropdown-item {
    @apply py-1.5 px-[30px] hover:bg-primary-3 hover:text-white-0 rounded-md cursor-pointer;
  }

  /*포트폴리오 아이템 토글 스타일*/
  .item-toggle {
    @apply flex justify-between items-center pl-2.5 py-2.5;
  }

  /*포트폴리오*/
  .pf-read-section {
    @apply flex flex-col my-10;
  }

  /* 관리자 */
  .manage-page-block {
    @apply flex items-center justify-between py-6 pl-6 pr-[14px] bg-white-0 border w-full max-w-96 border-gray-3;
  }
  .manage-icon {
    @apply flex gap-[14px];
  }
}
